body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.quill {
    height: 300px;
    border-radius: 16px;
}

.small-quill {
    height: 200px;
    border-radius: 16px;
}

.super-small-quill {
    height: 120px;
    border-radius: 16px;
}

.facebook-button {
    background-color: #1877f2; /* Facebook blue color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a hover effect */
}

.facebook-button:hover {
    background-color: #135592; /* Darker blue on hover */
}